In [3]:
import pandas as pd
import numpy as np

In [4]:
u_cols = ['user_id', 'item_id', 'rating', 'timestamp']
users = pd.read_csv('ml-100k/u.data', sep='\t', names=u_cols,encoding='latin-1')

users.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [5]:
users.shape

(100000, 4)